.moment {
    padding-top: 40px;
    padding-bottom: 64px;
}

.moment__wrapper {
    padding: 48px 24px 0px 24px;

    @media (max-width:1200px) {
        padding: 15px 24px 0px 24px;
    }
}

.moment__title {
    font-size: 25px;
    line-height: 1.28;
    text-align: center;
    margin-bottom: 31px;
}

.moment__row {
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 8px;
    justify-content: center;

    @media (max-width:1200px) {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    @media (max-width:768px) {
        grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    }
}